*{margin:0; padding: 0; box-sizing: border-box;} 
  
html {scroll-behavior: smooth;}  
body {background-color: #222222;}

li {list-style: none;}
a {
    text-decoration: none; 
    color: white;
    font-family:'Inter', sans-serif;
    font-size: 16px;;
}

h1, h2, h3 {
    font-family: 'Ruloko', sans-serif;
    font-size: 38px;
    line-height: 1.2;
    color: white;
    padding: 20px 0;
}

h4 {
    font-family: 'Ruloko', sans-serif;
    font-size: 28px;
    line-height: 1.2;
    color: white;
    padding: 20px 0;
}

p {
    font-family: 'Inter', sans-serif;
    color: white;
}

#services, #sale, #repair, #leasing, #abo {scroll-margin-top: 60px;}



/**FONTS**/
@font-face {
    src: url(fonts/ruluko-regular.ttf);
    font-family:'Ruloko';
}

@font-face {
    src: url(fonts/inter-extralight.ttf);
    font-family:'Inter';
}

nav, .container, .text-box {max-width: 1600px; margin: 0 auto;}


/**HEADER & NAVIGATION**/
nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 8vh;
    padding: 2% 5%;
    background-color: #222222;
}

.logo {width: 140px;}
.nav-links a {font-size: 18px !important;}
.nav-links li {padding: 18px 0;}

.nav-links {
    display: flex; /**inline der navpunkte**/
    justify-content: space-between;
    width: 70%;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 30px;
    height: 1px;
    background-color: white; 
    margin: 9px;
}

/**BUTTONS**/
button {
    margin-top: 30px;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    color: white;
  
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    line-height: 1.2;
  }
  
  .light {
    background-color: rgba(255, 255, 255, 0); /* Green */
    border: white solid 1px;
  }
  
  .beige {
    background-color: #A67F5A;
    border: none;
  }


/**NAVIGATION VIEWPORT 390px**/
@media screen and (max-width: 390px){
    
    /**HEADER & NAVIGATION**/
    body {overflow-x: hidden;}
    .burger {display: block;}

    .logo {
        width: 25vw;
        max-width: 120px;
    }

    .nav-links {
        position: absolute;
        right: 0;
        height: 100%;
        top: 8vh;
        padding: 8% 5%;
        background-color: #222222;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;        
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        z-index: 9999;
    }

    .nav-links li:hover {background-color: #A67F5A; padding-left: 20px;}
}

.nav-active {transform: translateX(0%);}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translate(50px);
    }
    to {
        opacity: 1;
        transform: translate(0px);
    }
}

/**Burge Menü Transformation**/
.toggle .line1 {transform: rotate(-45deg) translate(-8px,6px);}
.toggle .line2 {opacity: 0;}
.toggle .line3 {transform: rotate(45deg) translate(-8px,-6px);}


/**NAVIGATION PIKTOGRAMME**/
.nav-itm::before {
    content: '';
    width: 40px;
    height: 20px;
    display: inline-block;
    margin: 0 6px -3px 0;;
  }
  
  .nav-1::before {
    background: url(../img/bike_sale.svg);
    background-repeat: no-repeat;
  }
  
  .nav-2::before {
    background: url(../img/repair.svg);
    background-repeat: no-repeat;
  }
  
  .nav-3::before {
    background: url(../img/cargo_bike.svg);
    background-repeat: no-repeat;
  }
  
  .nav-4::before {
    background: url(../img/kids_abo.svg);
    background-repeat: no-repeat;
  }
  
  .nav-4 {padding-right: 0px !important;}



/**SLIDER**/
.container {
    margin: 0 auto;
    width: 100%;
    height: 530px;
    overflow: hidden;
}

.slides {
    display: flex;
    height: 100%;
}
  
.slide {
    min-width: 100%;
    position: relative;
}

.slide-img {
    position: absolute;
    width: 50%;
    height: fit-content;
    right: 5%;
    z-index: 9;
}

.slide-controls {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    min-height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#next-btn, #prev-btn {
    cursor: pointer;
    background: transparent;
    font-size: 30px;
    border: none;
    padding: 10px;
    color: white;
}

.fa-chevron-left:before {
    content: "\f053";
    position: absolute;
    right: 10%;
    bottom: -8px;
}

.fa-chevron-right:before {
    content: "\f053";
    position: absolute;
    right: 5%;
    bottom: -8px;
}

.slide-content {
    background-color: #A67F5A;
    width: 66%;
    min-height: 100%;
    margin-top: 50px;
    padding: 60px 32% 110px 60px;
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.slide-content h3 {
    padding: 40px 0 0 0;
    border-top: white solid 1px;
    margin-top: -24px;
}

.slider-icon {
    position: relative;
    width: 100px;
    background-color: #A67F5A;
    padding-right: 8%;
}


/**SLIDER VIEWPORT 390px**/
@media screen and (max-width: 390px){ 
    .container {margin: 2% 5%;}
    
    .slide img {
        width: 100%;
        right: 0;
    }

    .slide-content {
        width: 100%;
        top: 95%;
    }

    .slider-icon {height: 38px;}

    #next-btn, #prev-btn {display: none;}
}


/**TEXTBOX**/
.text-box {padding: 8% 30% 12% 5%;}

/**ICON DIVIDER**/
.icon-container {
    background-color: #A67F5A;
    margin-bottom: 3%;
}

.icon-container-inner {
    max-width: 1600px;
    margin: 0 auto;
    height: 110px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 5%;
}

.icon-box {
    display: flex;
    flex-direction: column;
}

.icon-box img {
    height: 7vh;
    margin-top: -30px;
}

.icon-box h3 {
    font-size: 24px;
    padding-top: 12px;
}


/**CONTENT BOXEN / FLEXBOXEN**/
.flex-container {
    display: flex;
    max-width: 1600px;
    margin: 6% auto;
    flex-direction: row;
    align-items: center;
    padding: 0 5%;
}

.left-img {
    width: 50%;
    margin: 100px -120px 0 0;
    z-index: 1;
    max-height: 500px;
}

.right-img {
    width: 50%;
    z-index: 1;
    padding-left: 60px;
}

.flex-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    min-height: 400px;
    max-height: 600px;
}

.beige-box {
    background-color: #A67F5A;
    padding: 60px 60px 60px 160px;
}

.black-box p {
    border-top: white solid 1px;
    padding-top: 40px;
    margin-top: -36px;
}

.black-box h4 {
    background-color: #222222 ;
    padding-right: 6%;
    z-index: 1;
}

.flex-container button {padding: 20px 40px;}



/**KONTAKT BOX**/

.contact-box {
    justify-content: center;
    align-items: flex-start;
    padding: 0 5%;
    margin: 0 auto;
    z-index: 1;
}

.contact-img {
    width: 40%;
    z-index: 1;
    max-height: 500px;
    padding-right: 60px;
    margin-bottom: -60px;
}

.flex-content li {
    font-family: 'Inter', sans-serif;
    color: white;
    padding: 2px 0;
}

.flex-content ul {
    border-top: white solid 1px;
    padding-top: 30px;
    margin-top: -10px
}



/**TOP SCROLL BUTTON**/
.top-scroll {
    position: fixed;
    width: 40px;
    height: 40px;
    right: 100vw;
    bottom: 0;
    margin: 4% 2%;
    background-color: #A67F5A;
    border: white solid 1px;
}

.top-scroll div {
    width: 50%;
    height: 1px;
    background-color: white; 
    margin: 12px 0;
}

.line4 {transform: rotate(-50deg) translate(-3px,6px);}
.line5 {transform: rotate(50deg) translate(5px,-16px);}



/**FOOTER**/
footer {background-color: #A67F5A;}

.footer-nav {
    display: flex;
    justify-content: flex-end;
    padding: 4% 5%;
}

.footer-nav a {font-size: 18px;}
.footer-nav li {padding: 0 4%}


@media screen and (max-width: 390px){
    .footer-nav {
        display: flex;
        justify-content: space-around;
        padding: 6% 5%;
    }

    .footer-nav li {padding: 0}
    .footer-nav a {font-size: 16px;}

}